<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysGoodsMapper">
    <resultMap type="SysGoods" id="SysGoodsResult">
        <result property="goodsId" column="goods_id"/>
        <result property="goodsTitle" column="goods_title"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsDesc" column="goods_desc"/>
        <collection property="goodsAuthor" ofType="com.ruoyi.common.core.domain.entity.SysUser">
            <result property="userId" column="user_id"/>
            <result property="avatar" column="avatar"/>
            <result property="nickName" column="nick_name"/>
            <result property="userName" column="user_name"/>
            <result property="sex" column="sex"/>
            <result property="loginIp" column="login_ip"/>
            <result property="loginDate" column="login_date"/>
        </collection>
        <collection property="goodsGallery" ofType="com.ruoyi.system.domain.SysGoodsGallery">
            <result property="goodsImg" column="goods_img"/>
        </collection>
        <collection property="goodsTags" ofType="com.ruoyi.system.domain.SysTag">
            <result property="tagName" column="tag_name"/>
        </collection>

    </resultMap>

    <sql id="selectSysGoodsVo">
        select g.goods_id,
               g.goods_title,
               g.goods_price,
               g.goods_desc,
               sgg.goods_img,
               st.tag_name,
               su.user_id,
               su.avatar,
               su.user_name,
               su.nick_name,
               su.sex,
               su.login_date,
               su.login_ip,
               suw.balance
        from sys_goods g
                 left join sys_goods_gallery sgg on g.goods_id = sgg.goods_id
                 left join sys_goods_tag sgt on g.goods_id = sgt.goods_id
                 left join sys_tag st on sgt.tag_id = st.tag_id
                 left join sys_user su on g.goods_author = su.user_id
                 left join sys_user_wallet suw on su.user_id = suw.user_id
    </sql>

    <select id="selectSysGoodsList" parameterType="SysGoods" resultMap="SysGoodsResult">
        <include refid="selectSysGoodsVo"/>
        <where>
            <if test="goodsTitle != null  and goodsTitle != ''">and goods_title like concat('%', #{goodsTitle}, '%')
            </if>
            <if test="goodsPrice != null ">and goods_price = #{goodsPrice}</if>
            <if test="goodsDesc != null  and goodsDesc != ''">and goods_desc = #{goodsDesc}</if>
        </where>
    </select>

    <select id="selectSysGoodsById" parameterType="Long" resultMap="SysGoodsResult">
        <include refid="selectSysGoodsVo"/>
        where goods_id = #{goodsId}
    </select>

    <insert id="insertSysGoods" parameterType="SysGoods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into sys_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsTitle != null and goodsTitle != ''">goods_title,</if>
            <if test="goodsPrice != null">goods_price,</if>
            <if test="goodsDesc != null">goods_desc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsTitle != null and goodsTitle != ''">#{goodsTitle},</if>
            <if test="goodsPrice != null">#{goodsPrice},</if>
            <if test="goodsDesc != null">#{goodsDesc},</if>
        </trim>
    </insert>

    <update id="updateSysGoods" parameterType="SysGoods">
        update sys_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsTitle != null and goodsTitle != ''">goods_title = #{goodsTitle},</if>
            <if test="goodsPrice != null">goods_price = #{goodsPrice},</if>
            <if test="goodsDesc != null">goods_desc = #{goodsDesc},</if>
        </trim>
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteSysGoodsById" parameterType="Long">
        delete
        from sys_goods
        where goods_id = #{goodsId}
    </delete>

    <delete id="deleteSysGoodsByIds" parameterType="String">
        delete from sys_goods where goods_id in
        <foreach item="goodsId" collection="array" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>
</mapper>